* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf1e4;
}

/* **************HEADER******************* */
.full-height {
  height: 100vh;
}
h1{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 60px 0 30px 0;
  font-size: 30px;
  color: #435334;
}
h1 span{
  font-size: 70px;
}
/* ***************NavBarre**************** */
nav {
  background-color: #435334;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  padding-left: 20px;
  color: #9eb384;
}

nav button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

nav button img {
  height: 30px;
  width: 30px;
  margin: 10px;
}
/* ***************Menu Active***************** */
.navbar-menu{
  display: none;
}
.navbar-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faf1e4;
  z-index: 1;
}
.navbar-menu.active ul{
  list-style: none;
}
.navbar-menu.active ul li{
  padding: 30px;
}
.navbar-menu.active ul li a{
  color: #435334;
  text-decoration: none;
  font-size: 20px;
}
.navbar-menu.active .close-button{
  position: absolute;
  top: 20px;
  right: 20px;
}

/* ***************Bouton de navigation******** */
.buttonNavigation {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonNavigation button {
  height: 30px;
  width: 150px;
  margin: 40px 0 60px 0;
  border: none;
  background-color: #9eb384;
}

.buttonNavigation .buttonAPropos {
  border-radius: 20px 20px 0 20px;
}

.buttonNavigation button a {
  color: #435334;
  text-decoration: none;
}
.buttonNavigation .buttonPortfolio{
  border-radius: 20px 20px 20px 0;
}
img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}
.buttonNavigationTwo {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.buttonNavigationTwo button {
  height: 30px;
  width: 150px;
  margin: 60px 0 40px 0;
  border: none;
  background-color: #9eb384;
}
.buttonNavigationTwo .buttonCompetences {
  border-radius: 20px 0 20px 20px;
}

.buttonNavigationTwo button a {
  color: #435334;
  text-decoration: none;
}
.buttonNavigationTwo .buttonContact{
  border-radius: 0 20px 20px 20px;
}

