*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Ubuntu Condensed', sans-serif;
    header{
        height: 100vh;
        width: 100vw;
        background-image: url(./Images/imgHeaderBackground.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        .navbar{
            padding: 10px;
            display: flex;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            a{
                color: white;
            }
            .navLiens{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                }
            }

        }
    }
}