* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf1e4;
}

/* **************  HEADER  ******************* */

.full-height {
  height: 100vh;
}
p{
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #435334;
}
h1{
  font-size: 60px;
  color: #435334;
  text-align: center;
  margin-bottom: 30px;
}


img{
  height: 210px;
  width: 230px;
  display: flex;
  margin: 0 auto;
}
/* *********** Day Night Mode */
label{
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background-color: #435334;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
}
label::after{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #9eb384;
  border-radius: 180px;
  transition: 0.3s;
}
input{
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label{
  background-color: #9eb384;
}
input:checked + label::after{
  left: 55px;
  transform: translateX(-100%);
  background-color: #435334;
}
label:active:after{
  width: 40px;
}
input:checked + label + body{
  background: #040d12;
}
label img{
  position: absolute;
  width: 15px;
  height: 15px;
  top: 25%;
  z-index: 100;
}
label img.sun{
  left: 13%;
  transition: 0.3s;
}
label img.moon{
  left: 37px;
  transition: 0.3s;
}

/* *********** Typing Text */
.typingText{
  text-align: center;
  margin: 70px auto;
  width: 40%;
}
.typingText p{
  color: #9eb384;
  font-size: 25px;
}

.typingText .text{
  color: #435334;
  font-size: 25px;
}



/* ***************  NavBarre  **************** */

nav {
  background-color: #435334;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  padding-left: 20px;
  color: #9eb384;
}

nav button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

nav button img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

/* ***************  Menu Active  ***************** */

.navbar-menu{
  display: none;
}
.navbar-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faf1e4;
  z-index: 1;
}
.navbar-menu.active ul{
  list-style: none;
}
.navbar-menu.active ul li{
  padding: 30px;
}
.navbar-menu.active ul li a{
  color: #435334;
  text-decoration: none;
  font-size: 40px;
}
.navbar-menu.active .close-button .closedButton{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
}
/* Partie commune à toutes les sections  */

.colorChange{
  width: 150px;
  height: 30px;
  background-color: #9eb384;
  transition: background-color 0.3s;
}

/* Section A propos */

.sectionAPropos{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sectionAPropos .buttonAPropos{
  height: 30px;
  width: 150px;
  border: none;
  background-color: #9eb384;
  border-radius: 20px 20px 0 20px;
  align-self: center;
}
.sectionAPropos .buttonAPropos a{
  text-decoration: none;
  color: #435334;
}
.containerApropos{
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}
.sectionAPropos .imageApropos{
  height: 200px;
  width: 150px;
  float: left;
  margin-right: 20px;
}
.sectionAPropos p{
  color: #435334;
  margin: 0;
  text-align: justify;
}

/* Section Compétences */

.sectionCompetences{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sectionCompetences .buttonCompetences{
  height: 30px;
  width: 150px;
  margin: 40px 0 80px 0;
  border: none;
  background-color: #9eb384;
  border-radius: 20px 0 20px 20px;
  align-self: center;
}
.sectionCompetences .buttonCompetences a{
  text-decoration: none;
  color: #435334;
}
.sectionCompetences .containerSize{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.zoomCompetence{
  height: 60px;
  width: 60px;
}
.sectionCompetences p{
  margin: 15px;
  text-align: justify;
}

/*  Section Portfolio */

.sectionPortfolio{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sectionPortfolio .buttonPortfolio{
  height: 30px;
  width: 150px;
  margin: 40px 0 60px 0;
  border: none;
  background-color: #9eb384;
  border-radius: 20px 20px 20px 0;
  align-self: center;
}
.sectionPortfolio .buttonPortfolio a{
  text-decoration: none;
  color: #435334;
}
.containerCard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 10px;
}
.cardOne{
  height: 300px;
  width: 550px;
  background-image: url(./Images/test1.jpg);
  background-position: center;
}




