* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf1e4;
}

/* **************  HEADER  ******************* */

.full-height {
  height: 100vh;
}
p{
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #435334;
}
h1{
  font-size: 60px;
  color: #435334;
  text-align: center;
  margin-bottom: 30px;
}


img{
  height: 210px;
  width: 230px;
  display: flex;
  margin: 0 auto;
}
/* *********** Day Night Mode */
label{
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background-color: #435334;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
}
label::after{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #9eb384;
  border-radius: 180px;
  transition: 0.3s;
}
input{
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label{
  background-color: #9eb384;
}
input:checked + label::after{
  left: 55px;
  transform: translateX(-100%);
  background-color: #435334;
}
label:active:after{
  width: 40px;
}
input:checked + label + body{
  background: #040d12;
}
label img{
  position: absolute;
  width: 15px;
  height: 15px;
  top: 25%;
  z-index: 100;
}
label img.sun{
  left: 13%;
  transition: 0.3s;
}
label img.moon{
  left: 37px;
  transition: 0.3s;
}

/* *********** Typing Text */
.typingText{
  text-align: center;
  margin: 70px auto;
  width: 40%;
}
.typingText p{
  color: #9eb384;
  font-size: 25px;
}

.typingText .text{
  color: #435334;
  font-size: 25px;
}



/* ***************  NavBarre  **************** */

nav {
  background-color: #435334;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  padding-left: 20px;
  color: #9eb384;
}

nav button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

nav button img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

/* ***************  Menu Active  ***************** */

.navbar-menu{
  display: none;
}
.navbar-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faf1e4;
  z-index: 1;
}
.navbar-menu.active ul{
  list-style: none;
}
.navbar-menu.active ul li{
  padding: 30px;
}
.navbar-menu.active ul li a{
  color: #435334;
  text-decoration: none;
  font-size: 40px;
}
.navbar-menu.active .close-button .closedButton{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
}
/* Partie commune à toutes les sections  */

.colorChange{
  width: 150px;
  height: 30px;
  background-color: #9eb384;
  transition: background-color 0.3s;
}

/* Section A propos */

.sectionAPropos{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sectionAPropos .buttonAPropos{
  height: 30px;
  width: 150px;
  border: none;
  background-color: #9eb384;
  border-radius: 20px 20px 0 20px;
  align-self: center;
}
.sectionAPropos .buttonAPropos a{
  text-decoration: none;
  color: #435334;
}
.containerApropos{
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}
.sectionAPropos .imageApropos{
  height: 200px;
  width: 150px;
  float: left;
  margin-right: 20px;
}
.sectionAPropos p{
  color: #435334;
  margin: 0;
  text-align: justify;
}

/* Section Compétences */

.sectionCompetences{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sectionCompetences .buttonCompetences{
  height: 30px;
  width: 150px;
  margin: 40px 0 80px 0;
  border: none;
  background-color: #9eb384;
  border-radius: 20px 0 20px 20px;
  align-self: center;
}
.sectionCompetences .buttonCompetences a{
  text-decoration: none;
  color: #435334;
}
.sectionCompetences .containerSize{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.zoomCompetence{
  height: 60px;
  width: 60px;
}
.sectionCompetences p{
  margin: 15px;
  text-align: justify;
}

/*  Section Portfolio */

.sectionPortfolio{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sectionPortfolio .buttonPortfolio{
  height: 30px;
  width: 150px;
  margin: 40px 0 60px 0;
  border: none;
  background-color: #9eb384;
  border-radius: 20px 20px 20px 0;
  align-self: center;
}
.sectionPortfolio .buttonPortfolio a{
  text-decoration: none;
  color: #435334;
}
.containerCard{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 10px;
}
.cardOne{
  background-image: url(./Images/test1.jpg);
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.cardOne h3{
  font-size: 30px;
  color: #9eb384;
}

.cardOne a {
  position: relative;
  color: #cedebd;
  padding: 0 5px;
  text-decoration: none;
  background-color: #9eb384;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px (rgba(158, 179, 132, 0.4));
}

.cardOne a span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #9eb384, #cedebd);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cardOne a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #9eb384, #cedebd);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.cardOne a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #9eb384, #cedebd);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.cardOne a span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #9eb384, #cedebd);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.cardTwo{
  background-image: url(./Images/test2.jpg);
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.cardTwo h3{
  font-size: 30px;
  color: #9eb384;
}
.cardTwo p{
  color: #9eb384;
}
.cardTwo a {
  position: relative;
  color: #cedebd;
  padding: 0 5px;
  text-decoration: none;
  background-color: #9eb384;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px (rgba(158, 179, 132, 0.4));
}

.cardTwo a span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #9eb384, #cedebd);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cardTwo a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #9eb384, #cedebd);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.cardTwo a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #9eb384, #cedebd);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.cardTwo a span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #9eb384, #cedebd);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* Section Contact !  */

.sectionContact{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sectionContact .buttonContact{
  height: 30px;
  width: 150px;
  margin: 40px 0 60px 0;
  border: none;
  background-color: #9eb384;
  border-radius: 0 20px 20px 20px;
  align-self: center;
}
.sectionContact .buttonContact a{
  text-decoration: none;
  color: #435334;
}
.containerContact{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.mailContact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #435334;
  padding: 10px;
}
.mailContact a{
  display: block;
  width: 100px;
  height: 35px;
  background-color: #9eb384;
  border-radius: 40px;
  margin-top: 30px;
}
.mailContact a img{
  width: 35px;
  height: 35px;
}
.reseauxContact{
  display: flex;
  flex-direction: column;
 margin: 0 auto;
 padding: 10px;
}
.reseauxContact a img{
  height: 50px;
  width: 50px;
  margin: 25px;
}

/* FOOTER */

footer{
  width: 100%;
  height: 55px;
  background-color: #435334;
}
footer p{
  color: #9eb384;
  padding-top: 10px;
}
footer a{
  display: block;
  text-decoration: none;
  color: #cedebd;
  text-align: end;
  margin-right: 20px;
}
 /* Styles pour les tablettes en mode portrait et paysage */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .sectionAPropos{
    background-color: #cedebd;
    position: relative;
  }
  .buttonAPropos{
    position: absolute;
  }
  .containerApropos{
    display: flex;
    align-items: center;
  }.containerApropos .imageApropos{
    flex: 6;
  }

}









