* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #d6d6d6;
}
body header {
  background-image: url(Images/imgHeaderBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
body header .navbar {
  background-color: black;
  position: fixed;
  width: 100%;
}
body header .navbar .flexNav {
  max-width: 2300px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
body header .navbar .flexNav .navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .navbar .flexNav .navHead button {
  border: none;
  background: none;
}
body header .navbar .flexNav .navLinks {
  height: 0;
  overflow: hidden;
}
body header .navbar .flexNav .navLinks .nav-open {
  height: 100vh;
}
body header .navbar .flexNav .navLinks ul li {
  list-style: none;
  margin: 20px 0;
  border-bottom: 2px solid white;
  width: 100px;
}
body header .navbar .flexNav .navLinks ul li a {
  color: #d6d6d6;
  text-decoration: none;
}
